<%- include("header") -%>
<h2>About Todo-node</h2>
<p>Well I've already explained on its GitHub repository so I'll recommend you to go through the repository's README.md </p>

<%- include("footer") -%>
